{{ define "main"}}
<div class="div-default">
  <el-row>
    <el-col :span="4">
      <el-button type="success" class="ml-2" @click="addVisible = true">添加人员</el-button>
      <!--<el-button type="primary" class="ml-2">批量导入</el-button>
    <el-button type="primary" class="ml-2">批量导出</el-button>
    <el-button type="danger" class="ml-2" :disabled="this.sels.length === 0" @click="delAllVisible = true">批量删除
    </el-button>-->
    </el-col>
    <el-col :span="10">
      <span style="font-size:14px">筛选</span>
      <el-select v-model="filterform.companyids" filterable placeholder="请选择公司" multiple size="small" class="ml-2">
        <el-option v-for="item in companies" :key="item.id" :label="item.name" :value="item.id">
        </el-option>
      </el-select>
    </el-col>
  </el-row>
</div>
<el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 98%"
  @selection-change="handleSelectionChange" :height="height" stripe
  :header-cell-style="{background:'#eef1f6',color:'#606266'}">
  <el-table-column type="selection" width="55">
  </el-table-column>
  <el-table-column prop="company" label="公 司" min-width="120" sortable>
  </el-table-column>
  <el-table-column prop="name" label="人员姓名" min-width="120">
  </el-table-column>
  <el-table-column prop="wechat_nick" label="微信昵称" min-width="120">
  </el-table-column>
  <el-table-column prop="phone" label="联系电话" min-width="120">
  </el-table-column>
  <el-table-column prop="storenum" label="管理门店" min-width="160"><template slot-scope="scope">
      [[ scope.row.storenum]]<el-link icon="el-icon-edit" @click="editStores(scope.row.id,scope.row.companyid)">
      </el-link>
    </template>
  </el-table-column>
  <el-table-column prop="rank" label="职位" min-width="120">
  </el-table-column>
  <el-table-column label="添加日期" min-width="200" show-overflow-tooltip sortable prop="created_time">
  </el-table-column>
  <el-table-column label="修改日期" min-width="200" show-overflow-tooltip sortable prop="updated_time">
  </el-table-column>
  <el-table-column label="权限" width="200">
    <template slot-scope="scope">
      <template v-for="power in scope.row.powers">
        <template>[[ power ]]</template>,
      </template>
    </template>
  </el-table-column>
  <el-table-column prop="status_cn" label="当前状态" width="120" sortable :filters="statustags"
    :filter-method="filterStatus" filter-placement="bottom-end">
  </el-table-column>
  <el-table-column label="操作" width="120" fixed="right">
    <template slot-scope="scope">
      <el-button-group>
        <el-button size="mini" type="success" icon="el-icon-edit" class="icon-button-edit"
          @click="modifyRecord(scope.$index, scope.row)"></el-button>
        <el-button size="mini" type="danger" icon="el-icon-delete" class="icon-button-delete"
          @click="closeRecord(scope.$index, scope.row)"></el-button>
      </el-button-group>
    </template>
  </el-table-column>
</el-table>

<el-dialog :title="form.title" :visible.sync="addVisible" width="30%">
  <el-form :model="form" :rules="rules" ref="form">
    <el-form-item label="人员姓名" :label-width="formLabelWidth" prop="name">
      <el-input v-model="form.name" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="联系电话" :label-width="formLabelWidth" prop="phone">
      <el-input v-model="form.phone" autocomplete="off"  maxlength="11" show-word-limit></el-input>
    </el-form-item>
    <el-form-item label="职位" :label-width="formLabelWidth" prop="rank">
      <el-input v-model="form.rank" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="公司选择" :label-width="formLabelWidth" prop="company">
      <el-select v-model="form.company" placeholder="请选择人员负责项目">
        <el-option v-for="item in companies" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>
    </el-form-item>
  </el-form>
  <span slot="footer" class="dialog-footer">
    <el-button @click="addVisible = false">取消</el-button>
    <template v-if="form.active == '添加'">
      <el-button type="primary" @click="submitForm('form')">确认[[form.active]]</el-button>
    </template>
    <template v-if="form.active == '修改'">
      <el-button type="primary" @click="updateForm('form')">确认[[form.active]]</el-button>
    </template>

  </span>
</el-dialog>
{{ end }}

{{ define "script"}}
<script>
  var mixin = {
    data: Object.assign({
      websocketDisconnected: false,
      customers: [],
      statustags: [],
      companies: [],
      stores: [],
      selectStore: [],
      filterform: {
        companyids: [],
        options: [],
        powers: [],
      },
      sels: [],
      //添加按钮弹出框
      addVisible: false,
      form: {
        id: 0,
        title: "添加人员",
        active: "添加",
        name: '',
        weichat: '',
        phone: '',
        delivery: false,
        rank: '',
        company: ''
      },
      //添加按钮弹出框规则设置
      rules: {
        name: [{
          required: true,
          message: "请填写人员姓名",
          trigger: "blur"
        }, ],
        phone: [{
          required: true,
          message: "请填写手机号码",
          trigger: "blur"
        }],
        company: [{
          required: true,
          message: '请至少选择一个负责公司',
          trigger: 'change'
        }]
      },
      storeDatas: [],
      storeform: {
        active: "管理门店",
        userid: "",
      },
      //批量删除对话框弹出
      delAllVisible: false,
      //单行关闭对话框弹出
      closeVisible: false,
      storesVisible: false,
      //设置form用于进行添加的时候绑定值
      closeForm: {},
      modifyForm: {},
      currentIndex: [],

      formLabelWidth: '120px',
      height: null,
    }),
    mounted: function () {
      uid = this.$cookies.get("uid");
      token = this.$cookies.get("token")
      this.height = window.innerHeight - this.$refs.multipleTable.$el.offsetTop - 50
      url = "{{.Site.Params.jsonURL}}/api/v1/customers"
      $.ajax({
        url: url,
        method: "get",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded;charset:UTF-8",
          "uid": uid,
          "token": token,
          "platform": "pc",
        },
        data: {},
      }).then(ret => {
        this.customers = ret.datas;
        this.statustags = ret.status;
        this.powers = ret.powers;
      })
      url = "{{.Site.Params.jsonURL}}/api/v1/companies"
      $.ajax({
        url: url,
        method: "get",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded;charset:UTF-8",
          "uid": uid,
          "token": token,
          "platform": "pc",
        },
        data: {},
      }).then(ret => {
        this.companies = ret.datas;
      })
    },
    computed: {
      tableData() {
        let customers = this.customers.map(r => {
          return Object.assign(r, this.personConvert(r))
        })

        if (this.filterform.companyids.length <= 0) {
          return customers;
        }
        customers = this.customers.filter(r => {
          //  return this.filterform.storeids.some(s => r.storeid.includes(s));
          for (var i = 0; i < this.filterform.companyids.length; i++) {
            if (this.filterform.companyids[i] == r.companyid) {
              return r
            }
          }
        });
        return customers;
      }
    },
    methods: {
      personConvert(customer) {
        let ret = {};
        if (customer.wechat_nick == "") {
          ret["order"] = 1;
          ret["status_cn"] = "未启用";
        } else if (customer.deleted_time == "0001-01-01 00:00:00") {
          ret["order"] = 2;
          ret["status_cn"] = "在岗中";
          return {
            order: 1,
            status_cn: "未启用"
          }
        }
        let roleflags = [];
        if (customer.roles != null) {
          for (var i = 0, len = customer.roles.length; i < len; i++) {
            if (customer.roles[i].name === "customer") {
              roleflags.push("用户");
            }
          }
        }
        ret["roleflags"] = roleflags
        return ret;
      },
      handleSelectionChange(sels) {
        this.sels = sels,
          console.log()
      },
      filterStatus(value, row) {
        return row.status === value
      },
      filterRecord(value) {

      },
      //验证是否能能成功提交维修对话框
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            url = "{{.Site.Params.jsonURL}}/api/v1/customers/pc"
            $.ajax({
              url: url,
              method: "post",
              headers: {
                uid: uid,
                token: token,
                platform: "pc",
              },
              contentType: 'application/x-www-form-urlencoded',
              data: JSON.stringify({
                "name": this.form.name,
                "phone": this.form.phone,
                "company": this.form.company,
              })
            }).then(ret => {
              console.log(ret);
              this.customers.push(ret.datas);
              this.$message({
                message: '添加客户信息成功',
                type: 'success'
              });
              this.addVisible = false;
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      //验证是否能能成功提交维修对话框
      updateForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            url = "{{.Site.Params.jsonURL}}/api/v1/customers/pc/" + this.form.id
            $.ajax({
              url: url,
              method: "put",
              headers: {
                uid: uid,
                token: token,
                platform: "pc",
              },
              contentType: 'application/x-www-form-urlencoded',
              data: JSON.stringify({
                "name": this.form.name,
                "phone": this.form.phone,
                "company": this.form.company,
              })
            }).then(ret => {
              console.log(ret);
              //this.tableData[this.currentIndex] =ret.datas;
              for (var i = 0, len = this.customers.length; i < len; i++) {
                if (this.customers[i].id === ret.datas.id) {
                  this.customers[i] = ret.datas;
                  this.$set(this.customers, i, this.customers[i]);
                  break;
                }
              }
              //this.customers[this.currentIndex] = ret.datas;
              //this.$set(this.customers, this.currentIndex, this.customers[this.currentIndex]);
              this.$message({
                message: '添加客户信息成功',
                type: 'success'
              });
              this.addVisible = false;
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      // 增加数据的方式,将这些值增加到单行删除按钮对话框中
      closeRecord(index, row) {

        //将表格中的数据传递到对话框
        this.closeForm = row;
        this.currentIndex = index;
        this.closeVisible = true;
      },
      // 增加数据的方式,将这些值增加到单行修改按钮对话框中
      modifyRecord(index, row) {
        //将表格中的数据传递到对话框
        //this.form = this.tableData[index];
        console.log(row);
        this.form.name = row.name;
        this.form.phone = row.phone;
        this.form.rank = row.rank;
        this.form.company = row.companyid;
        this.form.id = row.id;
        this.currentIndex = index;
        this.addVisible = true;
        this.form.title = "修改信息";
        this.form.active = "修改";
      },
      editStores(opUid, companyid) {
        console.log(opUid);
        url = "{{.Site.Params.jsonURL}}/api/v1/companies/" + companyid + "/stores";
        $.ajax({
          url: url,
          method: "get",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded;charset:UTF-8",
            "uid": uid,
            "token": token,
            "platform": "pc",
          },
          data: {},
        }).then(ret => {
          this.stores = ret.datas;
          this.statustags = ret.status;
          this.storeform.userid = opUid;
          let data = [];
          for (let i = 0; i < this.stores.length; i++) {
            data.push({
              key: this.stores[i].code,
              label: this.stores[i].name,
              //disabled: i % 4 === 0
            });
          }
          this.storeDatas = data;
        })

        url = "{{.Site.Params.jsonURL}}/api/v1/customers/" + opUid + "/stores";
        $.ajax({
          url: url,
          method: "get",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded;charset:UTF-8",
            "uid": uid,
            "token": token,
            "platform": "pc",
          },
          data: {},
        }).then(ret => {
          let data = [];
          for (let i = 0; i < ret.datas.length; i++) {
            data.push(ret.datas[i].code);
          }
          this.selectStore = data;
        })
        this.storesVisible = true;
      },
      filterStores() {
        console.log("filter");
      },
      updateStoreForm(forname) {
        url = "{{.Site.Params.jsonURL}}/api/v1/customers/" + this.storeform.userid + "/stores"
        $.ajax({
          url: url,
          method: "post",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded;charset:UTF-8",
            "uid": uid,
            "token": token,
            "platform": "pc",
          },
          data: JSON.stringify({
            "stores": this.selectStore,
          })
        }).then(ret => {
          for (var i = 0, len = this.customers.length; i < len; i++) {
            if (this.customers[i].id === this.storeform.userid) {
              this.customers[i].storenum = ret.datas.storesnum;
              this.$set(this.customers, i, this.customers[i]);
              break;
            }
          }
          this.storesVisible = false;
        })
      }
    }
  }
</script>
{{ end }}