{{ define "main"}}
<div class="div-default">
  <el-row >
    <el-button type="primary" class="ml-2">添加公司</el-button>
  </el-row>
</div>

<div class="div-default ml-2">
  <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
  @selection-change="handleSelectionChange" height="500">
  <el-table-column prop="companyid" label="公司编号" width="120">
  </el-table-column>
  <el-table-column prop="abbreviation" label="公司缩写" width="120">
  </el-table-column>
  <el-table-column prop="companyname" label="公司名称" width="200" >
  </el-table-column>
  <el-table-column prop="remarks" label="备注" width="200">
  </el-table-column>
  <el-table-column label="添加日期" show-overflow-tooltip sortable>
    <template slot-scope="scope">[[ scope.row.inserttime ]]</template>
  </el-table-column>
  <el-table-column label="修改日期" show-overflow-tooltip sortable>
    <template slot-scope="scope">[[ scope.row.modifytime ]]</template>
  </el-table-column>
  <el-table-column prop="status_cn" label="当前状态" width="120" sortable :filters="statustags" :filter-method="filterStatus"
    filter-placement="bottom-end">
  </el-table-column>
  <el-table-column label="操作" width="160">
    <template slot-scope="scope">
      <template v-for="opt in scope.row.operations">
        <template v-if='"close" == opt'>
          <el-button size="mini" type="danger" @click="closeRecord(scope.row.id)">关闭</el-button>
        </template>
        <template v-if='"modify" == opt'>
          <el-button size="mini" type="success" @click="modifyRecord(scope.row.id)">修改</el-button>
        </template>
      </template>
    </template>
  </el-table-column>
</el-table>
</div>
{{ end }}

{{define "main_script"}}
<script>
  $.getJSON("http://localhost:3000/api/v1/companies")
    .then((ret) => {
      new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data: Object.assign({
          websocketDisconnected: false,
          companies: [],
          statustags: [],
          filterform: {
            storeids: [],
            options: [],
          },
          formLabelWidth: '120px',
        }, {
          "companies": ret.companies,
          "statustags": ret.status
        }),
        computed: {
          tableData() {
            let companies = this.companies.map(r => {
              return Object.assign(r, this.companyConvert(r))
            })
            return companies;
          }
        },
        methods: {
          companyConvert(company) {
            if (company.status == 1) {
              return {
                order: 1,
                status_cn: "可用"
              }
            } else if (company.status == 2) {
              return {
                order: 2,
                status_cn: "已删除"
              }
            } 
          },
          handleSelectionChange() {
            console.log()
          },
          filterStatus(value, row) {
            return row.status === value
          },
          filterRecord(value) {

          }
        }
      })
    })
</script>
{{ end }}