html,
body,
#app,
.el-container {
  /*设置内部填充为0，几个布局元素之间没有间距*/
  padding: 0px;
  /*外部间距也是如此设置*/
  margin: 0px;
  /*统一设置高度为100%*/
  height: 100%;
}

.el-header,
.el-footer {
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-footer {
  border-top: 2px solid #99a9bf;
}

.el-header {
  border-bottom: 2px solid #99a9bf;
}

.el-aside {
  background-color: #545c64;
  color: #333;
  text-align: center;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: left;
}

body>.el-container {
  margin-bottom: 40px;
}

label{
  margin-bottom: 0rem;
}
.el-menu-item {
  text-align: left;
}

.el-submenu {
  text-align: left;
}

.md_headpic {
  border: none;
  vertical-align: middle;
  margin-left: 10px;
}

.el-table {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  border-radius: 4px;
}

.icon-button-edit {
  background-color: transparent;
  border-width: 0px;
  color: #409EFF;
  font-size: 18px;
  font-weight: bold;
}

.icon-button-delete {
  background-color: transparent;
  border-width: 0px;
  color: #F56C6C;
  font-size: 18px;
  font-weight: bold;
}

.el-dialog__header{
  background-color: #545c64;
  color: #fff;
}
.el-dailog__close{
  color:#fff;
}
.el-dialog__title{
  color:#fff;
}

.delete_form .el-input{
  border-width: 0px;
}

.el-tabs__header{
  border-bottom: 1px solid #333 !important;
}

.pane-title {
  font-size: 14px;
  font-weight: bold;
}

.div-default {
  margin-bottom: 20px;
}

.demo-table-expand {
  font-size: 0;
}

.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}

.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

.rule-select {
  padding-left: 3rem;
  margin-bottom: 2rem;
}

p .title {
  font-weight: bold;
  width: 30%;
  display: inline-block;
  text-align: right;
}

.el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.el-col {
  border-radius: 4px;
}

.bg-purple-dark {
  background: #99a9bf;
}

.bg-purple {
  background: #d3dce6;
}

.bg-purple-light {
  background: #e5e9f2;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
  padding: 10px;
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.el-tag+.el-tag {
  margin-left: 10px;
}

.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}