{{ define "main" }}
<el-row :gutter="12" style="padding-top:50px">
  <el-col :span="3" :offset="2">
    <el-card shadow="always" :body-style="{background:'#abcdef',color:'#7a8a9a'}">
      待受理：[[ countdatas.created]]
    </el-card>
  </el-col>
  <el-col :span="3" :offset="2">
    <el-card shadow="always" :body-style="{background:'#abcdef',color:'#7a8a9a'}">
      待分派：[[ countdatas.accepted]]
    </el-card>
  </el-col>
  <el-col :span="3">
    <el-card shadow="always" :body-style="{background:'#bedcaf',color:'#7a8a9a'}">
      待维修：[[ countdatas.assigned]]
    </el-card>
  </el-col>
  <el-col :span="3">
    <el-card shadow="always" :body-style="{background:'#cafedb',color:'#7a8a9a'}">
      待验收: [[ countdatas.serviced]]
    </el-card>
  </el-col>
  <el-col :span="3">
    <el-card shadow="always" :body-style="{background:'#abcdef',color:'#7a8a9a'}">
      已完成: [[ countdatas.confirmed]]
    </el-card>
  </el-col>
  <el-col :span="3">
    <el-card shadow="always" :body-style="{background:'#abcdef',color:'#7a8a9a'}">
      已关闭: [[ countdatas.closed]]
    </el-card>
  </el-col>
</el-row>
{{ end }}

{{ define "script"}}
<script>
  var mixin = {
    data: Object.assign({
        countdatas: {},
        heightOffset: 200,
        tableHeight: null,
        showBackFlag: false,
        backTitle: "",
    }),
    mounted: function () {
      uid = this.$cookies.get("uid");
      token = this.$cookies.get("token");
      url = "{{.Site.Params.jsonURL}}/api/v1/repairs"
      $.ajax({
        url: url,
        method: "get",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded;charset:UTF-8",
          "uid": uid,
          "token": token,
          "platform": "pc",
        },
        data: {
          "onlycount": "true",
          "stepcode": "all",
        },
      }).then(ret => {
        this.countdatas = ret.datas.count.steps_num;
      })
     
    },
  }
</script>
{{ end }}