<!--
 * @Description: 
 * @Version: 
 * @Company: Dank
 * @Author: dank.zheng
 * @Date: 2020-12-26 10:54:05
 * @LastEditors: dank.zheng
 * @LastEditTime: 2020-12-29 06:58:55
-->
<el-row :gutter="40">

  <el-col :span="14">
    <div class="grid-content bg-purple">
      <p  class="pane-title">设备故障</p>
      <el-form label-width="80px" :model="deviceFaultForm" :rules="devicefaultRules" ref="deviceFaultForm" size="mini">
        <el-form-item label="设备" prop="devicecode">
          <el-select v-model="deviceFaultForm.devicecode" placeholder="请选择设备">
            <el-option
              v-for="device in deviceTableData"
              :key="device.code"
              :label="device.name"
              :value="device.code">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="故障类型" prop="faultid">
          <el-radio v-for="fault in basesettings.fault.types" :key="fault.key" v-model="deviceFaultForm.faultid" :label="fault.key">
            [[fault.name]]</el-radio>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="addDeviceFaultForm('deviceFaultForm')">添加</el-button>
        </el-form-item>
      </el-form>
      <el-table :data="devicefaultTableData" tooltip-effect="dark" :height="height" stripe
        :header-cell-style="{background:'#eef1f6',color:'#606266'}">
        <el-table-column prop="first_letter" label="首字母" width="100"></el-table-column>
        <el-table-column prop="name" label="设备故障" min-width="200"></el-table-column>
        <el-table-column prop="device_name" label="设备" min-width="100" sortable></el-table-column>
        <el-table-column prop="fault_name" label="故障" min-width="100" sortable>
          <template slot-scope="scope">
            <span v-if="scope.row.is_set">
              <el-select v-model="scope.row.fault_id" placeholder="请选择故障类型" size="mini">
                <el-option
                  v-for="fault in basesettings.fault.types"
                  :key="fault.key"
                  :label="fault.name"
                  :value="fault.key">
                </el-option>
              </el-select>
            </span>
            <span v-else>[[scope.row.fault_name]]</span>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="160" fixed="right">
          <template slot-scope="scope">
            <el-button size="mini" v-if="!scope.row.is_set" icon="el-icon-edit" class="icon-button-edit"
              @click="devicefaultEdit(scope.$index,scope.row,true)"></el-button>
            <el-popover placement="top" width="200" trigger="click" :ref="'popover-edit-'+scope.$index" v-else>
              <p>修改故障类型</p>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="closePopover(scope.$index,scope.row)">取消</el-button>
                <el-button type="primary" size="mini" @click="updateDevicefaultForm(scope.$index,scope.row)">确定</el-button>
              </div>
              <el-button size="mini" icon="el-icon-finished" class="icon-button-edit" slot="reference">
              </el-button>
            </el-popover>
            <el-button size="mini" v-if="scope.row.is_set" icon="el-icon-close" class="icon-button-edit"
              @click="devicefaultEdit(scope.$index,scope.row,false)"></el-button>
            <el-popover placement="top" title="确认删除吗？" width="200" trigger="click" :ref="'popover-del-'+scope.$index"
              v-else>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="closePopover(scope.$index,scope.row)">取消</el-button>
                <el-button type="primary" size="mini" @click="deleteDevicefaultForm(scope.$index,scope.row)">确定</el-button>
              </div>
              <el-button size="mini" type="danger" icon="el-icon-delete" class="icon-button-delete" slot="reference">
              </el-button>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </el-col>
  <el-col :span="10" :xl="6">
    <!--故障类型模块-->
    <div class="grid-content bg-purple">
      <p class="pane-title">故障类型</p>
      <el-tag :key="type.key" v-for="type in basesettings.fault.types" closable :disable-transitions="false"
        @close="deleteBaseSetting('fault',type.key)">
        [[type.name]]
      </el-tag>
      <el-input class="input-new-tag" v-if="basesettings.fault.visible" v-model="basesettings.fault.value" ref="saveTagInput" size="small"
        @keyup.enter.native="$event.target.blur" @blur="tagConfirm('fault')">
      </el-input>
      <el-button v-else class="button-new-tag" size="small" @click="showTagInput('fault')">+ 添加故障类型</el-button>
    </div>
  </el-col>
</el-row>